main {
	display: grid;
	position: relative;
	z-index: 1;
	grid-template-columns: repeat(6, 1fr);
	--margin: 1rem;
	--left: 1/4;
	--right: 4/7;
	--alt-left: 1/3;
	--alt-right: 3/7;
	--full: 1/7;
}

h1, h2, h3, h4, ul, p {
	margin: 0;
}

h2#skills {
	margin-top: var(--margin);
}

h1, h2, h3 {
	font-weight: bold;
}

h1, h2, h1 + p {
	color: var(--blue);
}

h2 {
	font-size: 1rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1rem;
}

button {
	position: absolute;
	top: var(--gap);
	right: var(--gap);
	z-index: 2;
	padding: calc(var(--pad) / 2);
	cursor: pointer;
}

button > * {
	display: block;
	float: left;
}

button span {
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
	margin-left: calc(var(--pad) / 2);
}

h2, ul, ul + p {
	grid-column: var(--full);
}

ul:first-of-type + p  {
	margin: 0;
}

ul {
	padding-left: 1em;
	margin: var(--margin) 0;
}

ul + p {
	margin-bottom: 1rem;
}

h3, h4 + p, h1 {
	grid-column: var(--left);
}

h4, h4 + p + p {
	grid-column: var(--right);
}

#skills ~ ul {
	grid-column: var(--alt-right);
	margin: 0;
	padding: 0;
}

#skills ~ h3 {
	grid-column: var(--alt-left);
}

#awards ~ h3 {
	grid-column: var(--alt-left);
}

#awards ~ h3 + p {
	float: left;
	grid-column: var(--alt-right);
}

#awards ~ h3 + p + p {
	grid-column: var(--alt-right);
}

#skills ~ ul li {
	display: inline-block;
}

#skills ~ ul li::before {
	content: "• ";
}

#skills ~ ul li:first-child:before {
	content: "";
}

@media print {
	@page {
		size: auto;
		margin: 0;
	}
	body {
		margin: 0;
		color: black;
		background: white;
	}
	ul {
		margin: 4pt 0;
	}
	ul + p {
		margin-bottom: 4pt;
	}
	h2#skills {
		margin-top: 4pt;
	}
	h1 {
		font-size: 18pt;
	}
	h2, h3, h4, p, ul {
		font-size: 9pt;
	}
	h1, h2, h1 + p, a {
		color: var(--blue);
	}
	header, footer, button {
		display: none;
	}
	.card {
		background: transparent;
		border-color: transparent;
		box-shadow: none;
	}
}

