<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "edcc8e20ad9f4e3da53deedb92b64404"}'></script>
<!-- End Cloudflare Web Analytics -->
<!-- Counter Analytics -->
<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"rayamajheenishan@gmail.com",utcoffset:"-6"}))};sessionStorage.setItem("_swa","1");</script>
